<!-- Header -->
<div id="header">
    <div class="logo">
        <h1 class="heading bs-font-20">bullsfirst</h1>

        <div class="subtitle bf-p-l-40 bf-font-15">Calling All Bull Markets</div>
    </div>

    <div class="actions">
        <button class="strong  p-y-10">
        	<span class="glyphicon glyphicon-star-empty bf-font-20" aria-hidden="true"></span>
        	<div>Trade</div>
        </button>
        <button class="strong">
        	<span class="glyphicon glyphicon-log-in bf-font-20" aria-hidden="true"></span>
        	<div>Transfer</div>
        </button>        
    </div>
</div>